* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    max-width:600px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 20vh;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    margin: 10px;

}

h2 {
    margin-bottom: 24px;
}